.footer {
  margin: 24px 183px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #91a0b6;


  &__anotation {
    display: flex;
    flex-direction: row;
  }
}
