.interesting2 {
  &__name {
    font-size: 14px;
    font-weight: 600;
    color: #91a0b6;
    margin-bottom: 16px;
  }

  &__inside {
    display: flex;
    flex-direction: column;
  }

  &__firstLine {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  &__secondLine {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  &__date {
    font-weight: 400;
    color: #adb8c8;
  }

  &__heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #242424;
  }

  &__text {
    font-weight: 400;
    color: #adb8c8;
  }

  &__image {
    width: 100%;
  }

  &__block {
    margin-bottom: 56px;
  }
}