.interesting {
  margin-bottom: 56px;

  &__name {
    font-size: 14px;
    font-weight: 600;
    color: #91a0b6;
    margin-bottom: 16px;
  }

  &__inside {
    display: flex;
    flex-direction: column;
    gap: 32px;
    // width: 100vw;
  }

  &__firstLine {
    display: flex;
    flex-direction: row;
    // width: 100%;
  }

  &__secondLine {
    display: flex;
    flex-direction: row;
    // width: 100%;
  }

  &__date {
    font-weight: 400;
    color: #adb8c8;
  }

  &__heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #242424;
  }

  &__text {
    font-weight: 400;
    color: #adb8c8;
  }

  &__first {
    width: 100%;
  }

  &__second {
    width: 100%;
  }

  &__third {
    width: 100%;
  }

  &__fourth {
    width: 100%;
  }

  &__fifth {
    width: 100%;
  }

  &__sixth {
    width: 100%;
  }
}