.interesting2 {
  &__inside {
    max-width: 4000px;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(3, 1fr);
  }

  &__date {
    font-weight: 400;
    color: #adb8c8;
  }

  &__heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #242424;
  }

  &__text {
    font-weight: 400;
    color: #adb8c8;
  }

  &__image {
    width: 100%;
  }

  &__block {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 1100px) {
  .interesting2 {
    &__inside {
      grid-template-columns: repeat(2, 1fr);
      gap: 32px;
    }

    &__first {
      text-align: start;
    }

    &__second {
      text-align: start;
    }

    &__third {
      text-align: start;
    }

    &__fourth {
      text-align: start;
    }

    &__fifth {
      text-align: start;
    }

    &__sixth {
      text-align: start;
    }

    &__date {
      font-size: 16px;
      line-height: 24px;
    }
  
    &__heading {
      font-size: 24px;
      line-height: 48px;
    }
  
    &__text {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

@media screen and (max-width: 768px) {
  .interesting2 {
    &__inside {
      margin: 0 auto;
      text-align: center;
      grid-template-columns: repeat(1, 1fr);
      gap: 32px;
    }
  }
}