.main {
  padding: 24px 183px;

  &__home {
    color: $body-background-color;
  }
}

@media screen and (max-width: $laptop-screen) {
  .main {
    padding-left: 24px;
    padding-right: 13px;
  }
}

@media screen and (max-width: $ipad-screen) {
  .main {
    padding-left: 16px;
    padding-right: 16px;
  }
}
