.nav {
  background: #fff;
  color: #000;
  display: flex;
  justify-content: space-between;
  height: 64px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.15);

  &__logo {
    margin: 20px 0 20px 24px;
    font-size: 25px;
    cursor: pointer;
  }

  &__mainMenu {
    display: flex;
    list-style: none;
  }
}

.nav .nav__mainMenu li a {
  display: inline-block;
  padding: 20px 12px;
  text-decoration: none;
  color: #000;
  font-size: 16px;
}

.nav .nav__mainMenu li a:hover {
  background: #04bf94;
}

.nav .openMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}

.nav .nav__mainMenu .closeMenu,
.icons i {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

.fa-search,
.fa-user {
  font-size: 24px;
}

@media (max-width: 768px) {
  .nav .nav__mainMenu {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    transition: top 1s ease;
    display: none;
  }

  .nav .nav__mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .nav .openMenu {
    display: block;
  }

  .nav .nav__mainMenu li a:hover {
    background: none;
    color: #04bf94;
    font-size: 1.6rem;
  }

  .icons i {
    display: inline-block;
    padding: 12px;
  }

  .fa-search,
  .fa-user {
    display: none;
  }
}
