.new {
  &__name {
    font-size: 14px;
    font-weight: 600;
    padding: 12px;
    width: 78px;
    background: #ed685c;
    color: #fff;
    border-radius: 4px;
    margin-bottom: 16px;
    color: #fff;
    padding-right: 0;
    clip-path: polygon(103% 0, 92% 50%, 103% 100%, 0% 100%, 0 50%, 0% 0%);
  }

  &__block {
    max-width: 4000px;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }

  &__date {
    font-weight: 400;
    color: #adb8c8;
  }

  &__heading {
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #242424;
  }

  &__text {
    font-weight: 400;
    line-height: 24px;
    color: #adb8c8;
    text-align: justify;
  }

  &__image {
    width: 100%;
  }

  &__right {
    width: 100%;
    max-width: 518px;
  }

  &__block {
    margin-bottom: 28px;
  }
}

@media screen and (max-width: 1100px) {
  .new {
    &__block {
      display: flex;
      flex-direction: column;
    }

    &__left {
      text-align: center;
    }

    &__right {
      margin: 0 auto;
    }

    &__date {
      font-size: 16px;
      line-height: 24px;
    }
  
    &__heading {
      font-size: 24px;
      line-height: 48px;
    }
  
    &__text {
      font-size: 16px;
      line-height: 24px;
    }
  }
}
