.search {
  &__wrapper {
    background: $light-background-color;
    border-radius: 16px;
    display: flex;
  }

  &__left {
    padding: 56px;
  }

  &__heading {
    color: $main-background-color;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 48px;
    text-align: left;
  }

  &__text {
    padding-bottom: 16px;
    padding-top: 8px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
  }

  &__block {
    margin-bottom: 48px;
  }
}

.has-search .form-control {
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  width: 450px;
  padding: 16px;
}

.has-search {
  position: relative;
  
}

.form-control-feedback {
  color: #aaa;
  display: block;
  height: 2.375rem;
  left: 400px;
  line-height: 2.375rem;
  pointer-events: none;
  position: absolute;
  text-align: center;
  top: 15px;
  width: 2.375rem;
  z-index: 1;
}

@media screen and (max-width: $laptop-screen) {
  .search {
    &__right {
      display: none;
    }

    &__left {
      padding: 24px;
    }
  }
}

@media screen and (max-width: $ipad-screen) {
  .search {
    &__wrapper {
      padding: 16px;
    }

    &__left {
      padding: 0;
    }

    &__right {
      padding: 0;
    }

    &__heading {
      font-size: 24px;
    }

    &__text {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: $mobile-screen) {
  .search {
    &__heading {
      font-size: 24px;
      max-width: 290px;
    }

    &__text {
      font-size: 18px;
      max-width: 285px;
    }
  }

  .form-control {
    max-width: 260px;
  }

  .form-control-feedback {
    left: 220px;
  }
}