.top {
  &__inside {

    max-width: 4000px;
    padding-bottom: 120px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // grid-auto-rows: 300px;
    gap: 32px;
  }

  &__name {
    font-size: 14px;
    font-weight: 600;
    color: #91a0b6;
    margin-bottom: 16px;
  }

  &__date {
    font-weight: 400;
    color: #adb8c8;
  }

  &__heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #242424;
  }

  &__text {
    font-weight: 400;
    color: #adb8c8;
  }

  &__image {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .top {
    &__inside {
      grid-template-columns: 1fr;
      // grid-auto-rows: 300px;
      gap: 32px;
    }
  }
}