.try {
  &__wrapper {
    background: $light-background-color;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
  }

  &__left {
    padding: 24px;
  }

  &__right {
    align-items: right;
  }

  &__logo {
    font-size: 25px;
    cursor: pointer;
  }

  &__heading {
    color: $main-background-color;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 48px;
    text-align: left;
  }

  &__text {
    padding-bottom: 16px;
    padding-top: 8px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
  }

  &__button {
    background: $main-background-color;
    color: white;
    padding: 8px 32px;
    border: none;
    border-radius: 7px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    // color: violet;

    border: 1px solid transparent;
    // background: red;

    transition: background-color 0.3s;

    &:hover {
      color: $main-background-color;
      background-color: $white-color;
    }
  }

  &__block {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: $laptop-screen) {
  .try {
    &__right {
      display: none;
    }
  }
}

@media screen and (max-width: $ipad-screen) {
  .try { 
    &__heading {
      font-size: 20px;
      line-height: 48px;
    }

    &__left {
      padding: 16px;
    }
  
    &__text {
      font-size: 16px;
      line-height: 24px;
    }

    &__button {
      width: 100%;
    }
  }
}

