// colors
$text-color: #adb8c8;
$large-text-color: #242424;
$white-color: #fff;
$new-color: #ed685c;
$black-color: #000;
$main-background-color: #04bf94;
$light-background-color: #cfede6;
$body-background-color: #91a0b6;

// devices
$laptop-screen: 1280px;
$analog-screen: 1100px;
$ipad-screen: 768px;
$mobile-screen: 510px;
